[flake8]
exclude=
  __pycache__,
  app/__init__.py
select=
  # error codes: https://flake8.pycqa.org/en/latest/user/error-codes.html
  # unused imports
  F401,
  F524,
  F701,
  F702,
  F703,
  F705,
  F706,
  F707,
  F821,
  F822,
  F823,
  F831,
  F841
